/*First screen player*/
body {
	background-image: url("../sources/screen2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
  }

#timming{
	position: absolute;
	z-index: 50;
	top: 5px;
	left: 130px;
	font-family: "Arial Black";
	color: white;
	font-size: 45px;
}
#time{
	position: absolute;
	max-height: 115px;
	left: 0px;
	top: 0px;
}

#filadatos{
	position: absolute;

}
#pts{
	position: absolute;
	z-index: 50;
	top: 5px;
	right: 70px;
	font-family: "Arial Black";
	color: white;
	font-size: 45px;
}
#score{
	position: fixed;
	max-height: 90px;
	right: 0px;
}

#titulito{
	position: fixed;
	max-height: 80px;
	right: 20px;
	bottom: 30px;
}

#hits{
	position: fixed;
	max-height: 80px;
	left: 30px;
	bottom: 30px;
}

#hitsPts{
	position: absolute;
	z-index: 50;
	bottom: 40px;
	left: 180px;
	font-family: "Arial Black";
	color: white;
	font-size: 45px;
}

/*Pausa menu-----------------------------*/
 #btnPausa{
  position: fixed;
  right: 50px;
  bottom: 120px;
  max-width: 70px;
  max-height: 70px;
}

#sigpausa{
  max-height: 500px;
}

#btnPBack{
  max-height: 85px;
  max-width: 85px;
  position: absolute;
  left: 135px;
  bottom: 140px;
}

#btnPPlay{
  max-height: 130px;
  max-width: 130px;
  position: absolute;
  right: 140px;
  bottom: 120px;
}


/*Modal VICTORY--------------**/
#btnVictory {
    position: fixed;
    right: 50px;
    bottom: 210px;
    max-width: 70px;
    max-height: 70px;
}
#btnVBack {
    max-height: 90px;
    max-width: 90px;
    position: absolute;
    bottom: -40px;
    left: 215px;
}
#btnUp{
	max-height: 60px;
    max-width: 60px;
    position: absolute;
    bottom: 5px;
    left: 210px;
}
#titlevictory {
    max-height: 100px;
    position: absolute;
    top: -30px;
    left: 75px;
}
#formusername{
	position: absolute;
	z-index: 50px;
	bottom: 110px;
	left: 120px;
}
#userinp{
	font-size: 15px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; 
	color: #904e24 !important;
}

#btnFB{
	background-color: #4267b2 !important;
	position: absolute;
	bottom: 70px;
    left: 170px;
}
#scoreVictory{
	position: absolute;
	z-index: 50;
	top: -85px;
	right: -35px;
	font-family: "Arial Black";
	color: #87b715;
	font-size: 50px;
}

/*Modal Lose---------------------*/
#btnLose {
    position: fixed;
    right: 50px;
    bottom: 300px;
    max-width: 70px;
    max-height: 70px;
}

#titlelose {
    max-height: 90px;
    position: absolute;
    top: -30px;
    left: 95px;
}
#btnLBack {
    max-height: 90px;
    max-width: 90px;
    position: absolute;
    bottom: -30px;
    left: 215px;
}

#scoreLose{
	position: absolute;
	z-index: 50;
	top: 102px;
	left: 235px;
	font-family: "Arial Black";
	color: #ff0000;
	font-size: 40px;
}

#hitsLose{
	position: absolute;
	z-index: 50;
	bottom: 90px;
	left: 290px;
	font-family: "Arial Black";
	color: white;
	font-size: 30px;
}
